## 1. Double

In [1]:
nums = [4, 8, 15, 16, 23, 42]
double_nums = [2*i for i in nums]
double_nums

[8, 16, 30, 32, 46, 84]

## 2. Squares

In [2]:
nums = range(11)

squares = [i**2 for i in nums]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 3. Add Ten

In [3]:
nums = [4, 8, 15, 16, 23, 42]
add_ten = [i+10 for i in nums]
add_ten

[14, 18, 25, 26, 33, 52]

## 4. Divide By Two

In [4]:
nums = [4, 8, 15, 16, 23, 42]

divide_by_two = [i/2 for i in nums]
divide_by_two

[2.0, 4.0, 7.5, 8.0, 11.5, 21.0]

## 5. Parity

In [5]:
nums = [4, 8, 15, 16, 23, 42]

parity = [i%2 for i in nums]
parity

[0, 0, 1, 0, 1, 0]

## 6. Add Hello

In [6]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

greetings = ["Hello, " + i for i in names]
greetings

['Hello, Elaine', 'Hello, George', 'Hello, Jerry', 'Hello, Cosmo']

## 7. First Character

In [7]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

first_character = [i[0] for i in names]
first_character

['E', 'G', 'J', 'C']

## 8. Size

In [8]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

lengths = [len(i) for i in names]
lengths

[6, 6, 5, 5]

## 9. Opposite

In [9]:
booleans = [True, False, True]

opposite = [not i for i in booleans]
opposite

[False, True, False]

## 10. Same String

In [10]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

is_Jerry = [i == "Jerry" for i in names]
is_Jerry

[False, False, True, False]

## 11. Greater Than Two

In [11]:
nums = [5, -10, 40, 20, 0]

greater_than_two = [i > 2 for i in nums]
greater_than_two

[True, False, True, True, False]

## 12. Product

In [12]:
nested_lists = [[4, 8], [15, 16], [23, 42]]

product = [item1 * item2 for (item1,item2) in nested_lists]
product

[32, 240, 966]

## 13. Greater Than

In [14]:
nested_lists = [[4, 8], [16, 15], [23, 42]]

greater_than = [item1 > item2 for (item1,item2) in nested_lists]
greater_than

[False, True, False]

## 14. First Only

In [15]:
nested_lists = [[4, 8], [16, 15], [23, 42]]

first_only = [item1 for (item1,item2) in nested_lists]
first_only

[4, 16, 23]

## 15. Add With Zip

In [16]:
a = [1.0, 2.0, 3.0]
b = [4.0, 5.0, 6.0]

sums = [sum(x) for x in zip(a,b)]
sums

[5.0, 7.0, 9.0]

## 16. Divide With Zip

In [17]:
a = [1.0, 2.0, 3.0]
b = [4.0, 5.0, 6.0]
quotients = [item2 / item1 for (item1, item2) in zip(a, b)]
quotients

[4.0, 2.5, 2.0]

## 17. Capitals

In [18]:
capitals = ["Santiago", "Paris", "Copenhagen"]
countries = ["Chile", "France", "Denmark"]

locations = [capital + ", " + country for (capital, country) in zip(capitals, countries)]
locations

['Santiago, Chile', 'Paris, France', 'Copenhagen, Denmark']

## 18. Ages

In [19]:
names = ["Jon", "Arya", "Ned"]
ages = [14, 9, 35]

users = ["Name: " + name + ", Age: " + str(age) for (name,age) in zip(names, ages)]
users

['Name: Jon, Age: 14', 'Name: Arya, Age: 9', 'Name: Ned, Age: 35']